<%- include("partials/header") %>
<!-- Homepage Starts -->
<!-- Jumbotron Starts -->
<div class="container-fluid">
    <div class="jumbotron">
        <div class="container">
            <h1>WELCOME TO THE CLOTHES 4 YOU SHOPPING SITE</h1>
            <p><strong>You can buy here various types clothes from large set of collection and if you want customise clothes then we also work on that. You can buy your customise clothes. Customise clothes will be deliver in 5-6 working days.</strong></p>
        </div>
    </div>
</div>
<!-- Jumbotron Ends -->
<section>
    <div class="container">
        <div class="row">
            <% Mens.forEach(function(Mens){ %>
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                <div class="cardHeight card mb-3">
   			            <img class="card-img-top newCard" src="<%= Mens.url %>">        
                        <div class="card-body">
                            <h4 class="card-title cardTitle text-center"><%- Mens.name %></h4>
                            <!-- <p class="card-text"><%- Mens.head %></p> -->
                            <p class="card-text text-center">Price: <%- Mens.price %>/-</p>
                            <a href="home/<%= Mens._id %>" class="btn btn-center btn-outline-success btn-sm cardBtn">More Details</a>             
                        </div>
                </div>
            </div>
		      <% }); %>    
        </div>
    </div>
</section>
<!-- Homepage Ends -->
<%- include("partials/footer") %>

